<h1>New Inquiry</h1>

<%= render 'form', inquiry: @inquiry %>
<% if current_user!=3 %>

<%= link_to 'Back', inquiries_path %>
<%end %>
  <% if current_user.role==3 %>
  <%link_to 'Back',hunters_path %>
<%end %>